<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>


<table border="1">
    <th>ID</th>
    <th>Mail</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Phone number</th>
    <tr th:each="unClient : ${myClient}">
        <td th:text="${myClient.idclient}"/>
        <td th:text="${myClient.mail}"/>
        <td th:text="${myClient.nomcli}"/>
        <td th:text="${myClient.prenomcli}"/>
        <td th:text="${myClient.tel}"/>
    </tr>
</table>

</body>
</html>