<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location service</title>
</head>
<body>

<br>
<ul>
    <li><a href="../">Home page</a></li>
    <li><a href="../../service/clients">See all Clients</a></li>
    <li><a href="../../address/allAddresses">See all Addresses</a></li>
    <li><a href="../../taxi/taxiServices">Taxi Services</a></li>
    <li><a href="locationServices">Location Services</a></li>
</ul>

<br><br>
<ul>
    <li><a href="allLocations">All locations</a></li>
</ul>
<br><br>
<h3>search a location by ID</h3>
<form action="seekLocbyid" method="get">
    Enter an ID : <input type="number" name="idlocation">
    <input type="submit" name="submitLocId" value="Search">
</form>

<br><br>

<h3>Create a new location</h3>
<form action="createLocation" method="get">
    Enter a date : <input type="date" name="dateloc"> <br>
    Enter the number of kilometers : <input type="number" name="kmtotal"> <br>
    Enter the number of passengers : <input type="number" name="nbrepassagers"> <br>
    Enter the Taxi's ID : <input type="number" name="idtaxi"> <br>
    Enter the Client's ID : <input type="number" name="idclient"> <br>
    Enter the departure address ID : <input type="number" name="id_adresse"> <br>
    Enter the arrival address ID : <input type="number" name="id_adresse_1"> <br>
    <input type="submit" name="createLocation" value="Create Location">
</form>


</body>
</html>