<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location service</title>
</head>
<body>

<br>
<ul>
    <li><a href="../">Home page</a></li>
    <li><a href="../../service/clients">See all Clients</a></li>
    <li><a href="../../address/allAddresses">See all Addresses</a></li>
    <li><a href="../../taxi/taxiServices">Taxi Services</a></li>
    <li><a href="locationServices">Location Services</a></li>
</ul>

<br><br>
<ul>
    <li><a href="allLocations">All locations</a></li>
</ul>
<br><br>
<h3>search a location by ID</h3>
<form action="seekLocbyid" method="get">
    Enter an ID : <input type="number" name="idlocation">
    <input type="submit" name="submitLocId" value="Search">
</form>


</body>
</html>